
<%= form_for @item, url: user_items_path do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
    <%= f.hidden_field :id %>
    <%= f.fields_for :discs do |df| %>
        <div class="field">
          <%= df.label :disc_number %><br>
          <%= df.text_field :disc_number %>
          <%= df.hidden_field :id %>
          <%= df.fields_for :song do |sf| %>
            <div class="field">
              <%= sf.label :name %><br>
              <%= sf.text_field :name %>
              <%= sf.hidden_field :id %>
            </div>
          <% end %>
        </div>
    <% end %>
    <%= f.submit %>
  </div>
<% end %>



